*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

input[type=text] {
  width: 200px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: class="fa-regular fa-magnifying-glass";
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;  
  margin-left: 210px;
  padding-bottom: 5px;
}

div#top {
    background-color: #002747;
}
header#top {
    padding: 34px 34px;
    font-size: 30px;
    color: #bdb8d7;
    height: 100px;
    float: right;
}
#header {
    display: flex;
    align-items: center;
    width:100%;
    margin: 0 30px 0 ;
    padding: 20px;
}
div#content {
    width: 100%;
    align-content: center;
}
.logo {
    max-width: 60px;
    height: auto;
    margin-left: 20px;
    align-self:flex-start;
    
}
.header {
align-items: center;
display: flex;
justify-content: flex-start;
height: 60px;
background-color: #b6e3ff;
}
.navlist{
    list-style: none;
    margin: 0 0 0 40px;
    padding: 0;
    display: flex;
    font-size: 10px;
}
.navlist li:first-child  {
    margin-left:-25px; 
    font-size: 18px;   
    list-style: 20px;
    font-weight: bolder;
    font-family:arial;
}
.navlist li:last-child {
    font-size: 15px;
    padding-top: 12px;
}

.navlist a{
    color: #271756;
}
.navlist li:first-child:hover>a {
    height: 46px;
    background-color: #53bfe0;
    color: white;
    
}

.introduct-tab {
    
    display: flex;
    height: 5rem;
    background-color: #DFF6FF;
    text-align:center;
    justify-content: center;
}

.textintro {
    color: #003996;
    font-weight: bold;
}

.introduct-tab p {
    margin-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: rgb(209, 18, 18);
    
}

.tab2{
    display: flex;
    margin-left: 80px;
}

.tab2 select {
    margin: 18px;
    width: 80px;
    height: 40px;
    background-color: #DFF6FF;
    border: 2px solid #003996;
    border-radius: 12px;
    
}

.header2{
    text-align: center;
    font-size: 2em;
    margin-left: 1rem;
    padding:20px 0px;
    color: red;
}

table,tr,th,td {
    padding-top: 100px;
    margin-left: auto; margin-right: auto;
    border: solid 1px black;
    padding: 10px;
    border-collapse: collapse;
    text-align: center;
}

.thead2{
    
    background-color: #5ec1ff;
}

.table2{
    font-size: 13px;
}
.tr2 {
    background-color: #5793f548;
}

.danhgia2{
    color: red;
}

.dtk{
    font-weight: bold;
}

footer{
    position: relative;
    margin-top: 20%;
    bottom:0;
    left:0;
    width:100%;
    height: 26px;
    background-color: #00399638;
    border-top: solid 4px #009dffbb;
}

.footertext {
    position: static;
    font-weight: bolder;
    margin-left: 5px ;
    font-size: 0.7rem;
    bottom: 0;
}

.content {
    height: 1000px;
}
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav li {
  float: right;
}

.nav li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
  color: #000000;
  display: block;
}

.nav li a:hover
{
  background-color: #858ba6;
}

.nav ul li
{
  border-bottom: 1px solid #bdb8d7;
  border-left: : 1px solid #bdb8d7;
}